<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841893064101-odmh27u9m1218rremjanopafqgna9kir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841893064101-odmh27u9m1218rremjanopafqgna9kir</string>
	<key>API_KEY</key>
	<string>AIzaSyCSiI7OYHSd0ebDzGeVb6AcmO3evCWQpDI</string>
	<key>GCM_SENDER_ID</key>
	<string>841893064101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secondTutorial</string>
	<key>PROJECT_ID</key>
	<string>my-journey-with-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>my-journey-with-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841893064101:ios:c328362f5f13b9559c4c4c</string>
</dict>
</plist>